<div class="col-lg-12">
    <div class="pagination">
        {% if page_obj.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        {% else %}
                    <li><a href="?page=">ILK</a></li>
                {% endif %}
                </li>
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><a href="?page={{ i }}">
                            S:{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    {% else %}
                        <li "><a href="?page=">SON</a></li>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    </div>
</div>



